/* detail.css */

/* Fondo general */
.event-detail {
    text-align: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del título */
  .event-detail h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #333;
  }

  .dark h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  /* Estilos para la lista de detalles del evento */
  .event-detail p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #555;
  }
  .dark p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #ffffff;
  }

  .light p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #000000;
  }
  
  /* Estilos del mensaje de advertencia */
  .warning-message {
    background-color: #fff8e1;
    padding: 1rem;
    border: 1px solid #ffcc00;
    margin: 2rem 0;
    border-radius: 5px;
  }
  
  .warning-message p {
    font-size: 1.1rem;
  }
  
  .warning-message button {
    background-color: #ffcc00;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .warning-message button:hover {
    background-color: #ff9900;
  }
  
  /* Estilos del modal */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 80%;
    z-index: 1001;
  }
  
  .select-seats-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-modal-btn {
    padding: 10px 20px;
    font-size: 14px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .seating-chart {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas más pequeñas */
    }
  
    .modal {
      width: 90%;
      padding: 1.5rem;
    }
  
    .event-detail h1 {
      font-size: 2rem;
    }
  
    .event-detail p {
      font-size: 1rem;
    }
  
    .warning-message {
      padding: 1rem;
    }
  
    .back-home-btn {
      width: 100%;
    }
  }
  