/* detail.css */

/* Fondo general */
.event-detail {
    margin-top: 5%;
    text-align: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos del título */
  .event-detail h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #333;
  }

  .dark h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  /* Estilos para la lista de detalles del evento */
  .event-detail p {
    
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #555;
  }
  .dark p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #ffffff;
  }

  .light p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #000000;
  }
  
  /* Estilos del mensaje de advertencia */
  .warning-message {
    background-color: #fff8e1;
    padding: 1rem;
    border: 1px solid #ffcc00;
    margin: 2rem 0;
    border-radius: 5px;
  }
  
  .warning-message p {
    font-size: 1.1rem;
  }
  
  .warning-message button {
    background-color: #ffcc00;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .warning-message button:hover {
    background-color: #ff9900;
  }
  
  /* Estilos del modal */
  .modal {
    position: fixed;
    top: 0;
    left: 400px;
    width: 400%;
    height: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto; /* Permite scroll cuando el contenido excede el tamaño del contenedor */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 400px;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 999;
    overflow: auto; /* Permite scroll cuando el contenido excede el tamaño del contenedor */
  }
  
  .modal-content {
    background: white;
    padding: 150px;
    border-radius: 8px;
    max-width: 800px;
    width: 200%;
    z-index: 1001;
    overflow: auto; /* Permite scroll cuando el contenido excede el tamaño del contenedor */
  }
  
  .select-seats-btn {
    padding: 10px 20px;
    margin-top: 1%;
    width: 15%;
    height: 10%;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-modal-btn {
    padding: 10px 20px;
    font-size: 14px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .event-image {
    height: 200px;
    width: 200px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .seating-chart {
      grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas más pequeñas */
    }
  
    .modal {
      width: 90%;
      padding: 1.5rem;
    }
  
    .event-detail h1 {
      font-size: 2rem;
    }
  
    .event-detail p {
      font-size: 1rem;
    }
  
    .warning-message {
      padding: 1rem;
    }
  
    .back-home-btn {
      width: 100%;
    }
  }
  .countdown h2 {
    font-size: 24px;
    color: red;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.custom-modal {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-input {
  width: 80px;  /* Ajusta el ancho del input según lo necesites */
  font-size: 14px;  /* Tamaño de la fuente más pequeño */
  padding: 5px;  /* Reducir el padding */
}


.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  margin: 0 auto;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



  
  