/* General styling for the login modal */
.login-modal {
  background: url("../../../public/images/imagenlogin.jpg") no-repeat center center fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: blur(8px);
  flex-direction: column; /* Asegura que el contenido se ajuste en dispositivos pequeños */
}

/* Contenedor del formulario */
.login-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  color: transparent;
}

/* Título del formulario */
.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo de los campos de entrada */
.login-container input {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #f9f9f9; /* Fondo gris claro */
  color: #333; /* Color de texto oscuro */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.password-container input {
  width: 100%; /* Corregido a 100% para asegurar que el input ocupe todo el espacio disponible */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #f9f9f9; /* Fondo gris claro */
  color: #333; /* Color de texto oscuro */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.input-field:focus {
  outline: none;
  border-color: #007bff; /* Azul de enfoque */
  background-color: #fff;
}

/* Contenedor de botones */
.google-logins {
  margin-top: 23px; /* Mueve hacia abajo */
  text-align: center; /* Alinea el botón en el centro, si necesario */
}

.login-container .buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}

/* Estilos de los botones */
.login-container .btn {
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.login-btn {
  background-color: #FF5733; /* Naranja llamativo */
}

.login-btn:hover {
  background-color: transparent;
  border-color: #FF5733;
  color: #FF5733;
}

.cancel-btn {
  background-color: #ccc; /* Gris claro */
}

.cancel-btn:hover {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  /* Ajustes para el contenedor del formulario en pantallas pequeñas */
  .login-container {
    width: 90%; /* Hacer más ancho en pantallas pequeñas */
    padding: 1.5rem; /* Reducir el padding */
  }

  .login-container h2 {
    font-size: 20px; /* Reducir el tamaño del título */
  }

  .login-container input {
    font-size: 0.9em; /* Reducir el tamaño de los campos de entrada */
  }

  .form-buttons {
    flex-direction: column; /* Asegura que los botones se apilen verticalmente */
    margin-top: 15px; /* Reducir el margen superior */
  }
}

/* Estilo para el perfil */

/* Container del perfil */
.profile-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

/* Información del perfil */
.profile-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Contenedor para cambiar la contraseña */
.change-password {
  margin-top: 30px;
}

.change-password form {
  display: flex;
  flex-direction: column;
}

.change-password .form-group {
  margin-bottom: 15px;
}

.change-password label {
  margin-bottom: 5px;
  font-weight: bold;
}

.change-password input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.change-password button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-password button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.password-container {
  position: relative;
}

input[type="password"], input[type="text"] {
  padding-right: 100px; /* Deja espacio para el ícono */
}

button[type="submit"] {
  margin-top: 20px;
}

/* Responsiveness para el perfil */
@media (max-width: 768px) {
  /* Ajustes en el perfil para pantallas pequeñas */
  .profile-container {
    padding: 15px;
    max-width: 90%; /* Hace que el contenedor sea más ancho en pantallas pequeñas */
  }

  .profile-info p {
    font-size: 16px; /* Reducir el tamaño de los párrafos */
  }

  .change-password form {
    flex-direction: column; /* Apilar los elementos del formulario */
  }

  .change-password button {
    font-size: 0.9rem; /* Reducir el tamaño del botón */
  }
}
