  /* Estilos para los géneros seleccionados */
.selected-genres {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.selected-genres ul {
  list-style-type: none;
  padding: 0;
}

.selected-genres li {
  width: 15%;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  background-color: #608CC4;
  border-radius: 20px;
  margin-right: 10px;
}

 /* Personaliza el fondo para el popup de éxito del sweet alert */
 .swal2-popup.custom-popup-success {
  background-color: #f9fbfd ; /* Fondo azul claro */
  color: #000; /* Color del texto */
}

/* Personaliza el fondo para el popup de error del sweet alert */
.swal2-popup.custom-popup-error {
  background-color: #ffe6e6; /* Fondo rojo claro */
  color: #d9534f; /* Color de texto para el error */
}
