/* Contenido del modal */
.modal-contenido {
    background: rgb(255, 244, 141);
    padding: 60px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo del contenido */
    z-index: 1001;
    max-height: 550px;
    
  }

  .close-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: #e09e0e;
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .close-btn:hover {
    background: #da7313; /* Color más oscuro cuando el mouse pasa sobre el botón */
  }

  /* Botones */
.select-seats-btns {
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    margin-top: 10px;
    width: 100%; /* Ajusta el botón para ocupar el 100% del contenedor */
    font-size: 16px;
    background: #dbaa21;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }