/* Contenido del modal */
.modal-contenido {
    background:#FFFFFF;
    padding: 60px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px; /* Limita el ancho máximo del contenido */
    z-index: 1001;
    max-height: 550px;
    color: black
    
  }


  .dark .modal-contenido {
    background:#1D1D1D;
    padding: 60px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo del contenido */
    z-index: 1001;
    max-height: 550px;
    color:white
    
  }

  .event-image-confirm {
    width: 250px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .close-btn {
    padding: 10px 20px;
    font-size: 16px;
    background: #e09e0e;
    color: rgb(15, 15, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
  }
  
  .close-btn:hover {
    background: #FFD166; /* Color más oscuro cuando el mouse pasa sobre el botón */
  }

  /* Botones */
.select-seats-btns {
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    margin-top: 10px;
    width: 100%; /* Ajusta el botón para ocupar el 100% del contenedor */
    font-size: 16px;
    background: #FFB74D;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dark .select-seats-btns {
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    margin-top: 10px;
    width: 100%; /* Ajusta el botón para ocupar el 100% del contenedor */
    font-size: 16px;
    background: #FFE57F;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dark .select-seats-btns:hover {
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    margin-top: 10px;
    width: 100%; /* Ajusta el botón para ocupar el 100% del contenedor */
    font-size: 16px;
    background: #FFD166;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }