/* General navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222; /* Fondo oscuro */
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Siempre encima */
  }
  
  /* Logo */
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  /* Contenedor del menú desplegable */
  .dropdown {
    position: relative;
  }
  
  /* Ícono del menú */
  .dropdown-icon {
    font-size: 1.8em;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    transform: translateX(-50px);
  }
  
  .dropdown-icon:hover {
    color: #007bff;
  }
  
  /* Contenedor del menú desplegable */
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Mantén el menú justo debajo del botón */
    left: auto; /* Restablece cualquier valor previo */
    right: 0; /* Alinea el menú hacia la izquierda dentro de su contenedor */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(-50px);
  }
  /* Opciones del menú */
  .dropdown-item {
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  .user-name {
    color: #fff;
    font-weight: bold;
    margin-left: -400%; /* Espacio entre el nombre y el menú desplegable */
    font-size: 1rem;
    margin-top: 60px;
    
  }
  